.btn{height: .3rem;font-size: .14rem;background: #070707;color: #fff;border: 0;padding: 0 .05rem }
.shop-title{font-size: .2rem!important; padding-left:0!important;text-align: center;padding-top: .05rem}
.nav{position: fixed;left: 0;top: .5rem;display: flex;width: 100%;padding: .1rem .1rem;background: #fff}
.nav li{font-size: .14rem;height: .3rem;width: 25%;line-height: .3rem;text-align: center;border: 1px solid #ccc}
.nav li:nth-child(1){color: #fff;background: #ccc}
.section{margin-top: 1rem}
.shop-message{
	padding: 0 .2rem
}
h3{height: .3rem;
    line-height: .3rem;
    font-size: .14rem;
    font-weight: 700;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -0.05rem;
}
.shop-message h4{
	margin-bottom: .1rem;
    color: #333;
}
.shop-message p {
	font-size: .1rem;
    color: #7f7f7f;
    margin-bottom: .1rem;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.shop-price {
	color: #d44d44;
}
.shop-price span{
	font-size: .14rem;
}
.versions{padding: .1rem}
.versions h6{font-size: .14rem;color: #999;padding-bottom:.1rem;}
.versions div{padding-bottom:.1rem;}
.versions i{font-size: .14rem;font-weight: bolder;}
.shop-detail{padding: 0}
.shop-detail h3{margin-left: .2rem}
.detail-foot {display: flex;justify-content: flex-end;}
footer button{padding: .1rem .2rem;margin:0 .1rem;border: 0 }
footer button:nth-child(2){
	background: linear-gradient(#6e98f4,#4b77ee);color: #fff
}